@import "tailwindcss";
/* @import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap"); */

@plugin "daisyui";

@theme {
  --font-titles: "Source Code Pro", "monospace";
  --font-texts: "Roboto Mono", "monospace";

  --color-primary: #660099;
  --color-background: #FFFFFF;
  --color-secondary: #9900cc;
  --color-tertiary: #cc66ff;
  --color-success: #66bb6a;
  --color-warning: #ffcc80;
  --color-error: #e57373;
  --color-quick-action: #5c85d6;
  --color-accent: #00d1bc;
  --text-primary: #1a1a1a;
  --text-secondary: #1a1a1a;
  --border: #e5e5e5;
}

@variant dark (&:where([data-theme="dark"], [data-theme="dark"] *)) {
  /* Aquí puedes definir estilos específicos para el modo oscuro si es necesario */
}
.color {
  color: #660099;
  color: #926ca5;
  color: #c150fa;
  color: #73647a;
  color: #4b4150;
  color: #2d2133;
}

[data-theme="light"] {
  --color-primary: #660099;
  --color-background: #ebe7e7;
  --color-secondary: #cc66ff;
  --color-tertiary: #9900cc;
  --color-success: #66bb6a;
  --color-warning: #ffcc80;
  --color-error: #e57373;
  --color-quick-action: #5c85d6;
  --color-accent: #00d1bc;
  --text-primary: #1a1a1a;
  --text-secondary: #1a1a1a;
  --border: #e5e5e5;
}

[data-theme="dark"] {
  --color-primary: #660099;
  --color-background: #2d2133;
  --color-secondary: #c150fa;
  --color-tertiary: #926ca5;
  --color-success: #4caf50;
  --color-warning: #ffa726;
  --color-error: #ef5350;
  --color-quick-action: #3a66d6;
  --color-accent: #00d1bc;
  --text-primary: #ffffff;
  --text-secondary: #ebdddd;
  --border: #73647a;
}

@layer components {
  body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    /* display: flex; */
    background-color: var(--color-background);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-titles);
    color: var(--text-primary)
  }

  p,
  label {
    font-family: var(--font-texts);
    line-height: 1.5;
    color: var(--text-primary)
  }
}

.theme-btn {
  width: 35px;
  height: 35px;
  cursor: pointer;
  padding: 2px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-tertiary);
}
