@import 'tailwindcss';
@plugin "daisyui";

@theme {
  --font-titles: 'Source Code Pro', 'monospace';
  --font-texts: 'Roboto Mono', 'monospace';

  --color-primary: #660099;
  --color-background: #ebe7e7;
  --color-cards: #f7f0f0;
  --color-secondary: #9900cc;
  --color-tertiary: #cc66ff;
  --color-success: #66bb6a;
  --color-warning: #ffcc80;
  --color-error: #e57373;
  --color-quick-action: #5c85d6;
  --color-accent: #00d1bc;
  --color-text: #1a1a1a;
  --text-secondary: #1a1a1a;
  --color-border: #e5e5e5;
  --color-sidebar: #ffffff;
  --color-subtitle: #660099;
}

@variant dark (&:where([data-theme="dark"], [data-theme="dark"] *)) {
  /* Here you can define specific styles for dark mode if needed. */
}

[data-theme='light'] {
  --color-primary: #660099;
  --color-background: #ebe7e7;
  --color-cards: #f7f0f0;
  --color-secondary: #cc66ff;
  --color-tertiary: #9900cc;
  --color-success: #66bb6a;
  --color-warning: #ffcc80;
  --color-error: #e57373;
  --color-quick-action: #5c85d6;
  --color-accent: #00d1bc;
  --color-text: #1a1a1a;
  --text-secondary: #1a1a1a;
  --color-border: #b4b2b2;
  --color-sidebar: #ffffff;
  --color-subtitle: #660099;

  .menu .router-link-exact-active {
    background-color: #9900cc;
    color: #ffffff;
  }
}

[data-theme='dark'] {
  --color-primary: #660099;
  --color-background: #2d2133;
  --color-cards: #483552;
  --color-secondary: #c150fa;
  --color-tertiary: #926ca5;
  --color-success: #4caf50;
  --color-warning: #ffa726;
  --color-error: #ef5350;
  --color-quick-action: #3a66d6;
  --color-accent: #00d1bc;
  --color-text: #ffffff;
  --text-secondary: #ebdddd;
  --color-border: #73647a;
  --color-sidebar: #432153;
  --color-subtitle: #ffffff;

  .menu .router-link-exact-active {
    background-color: #926ca5;
    color: #ffffff;
  }
}

@layer components {
  #app {
    min-height: 100vh;
    height: 100%;
  }

  body {
    width: 100%;
    min-height: 100dvh;
    height: 100%;
    margin: 0;
    background-color: var(--color-background);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  th {
    font-family: var(--font-titles);
    color: var(--color-text);
  }

  p,
  a,
  td {
    font-family: var(--font-texts);
    line-height: 1.5;
    color: var(--color-text);
    font-size: 16px;
  }
}

.theme-btn {
  width: 35px;
  height: 35px;
  cursor: pointer;
  padding: 2px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-tertiary);
}
